/* You can add global styles to this file, and also import other style files */


.header{
  background-color: #630505;
  height: 100px;

}


.main .item{
  height:150px ;
  background-color:#086305 ;
  // margin: 20px;
}
.col-3{
  background-color: #086305;
  height: 100px !important;
}
