<!--  -->

<div class="wrapper">
<form  [formGroup]="inputform">
  <div class="form-wrapper">
    <div class="form-group">
   
       <input type="text" formControlName="nameoftask"class="form-control"  placeholder="what you should do..">
    </div>
       <button type="submit" (click)="onsavetask(0)" class="btn btn-primary ">save</button>
    </div>
  
</form>

</div>


  <div class="task-wrapper" *ngFor="let item of taskshow">
    <p>{{ item.title }}</p>
    <div class="actions">
      <button (click)="Edit(item)" type="submit" class="btn btn-primary">Edit</button>
      <button (click)="Delet(item.id)" type="submit" class="btn btn-danger">Delete</button>
      <button (click)="Done(item)" type="submit" class="btn btn-success ">Done</button>
    </div>
  </div>