.wrapper {
    display: flex; 
    /* flex-direction: row; */
    row-gap: 20px;
    /* flex-direction: column; */
      /* column-gap: 20px; */
      
      justify-content: center;
    

  
    
    textarea {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      width: 1600px;
      height: 500px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #cef0c9;
      resize: none;
    }
 


  
  }


 