<!--  -->

<div class="wrapper">
<form  [formGroup]="inputform">
  <div class="form-wrapper">
    <div class="form-group">
   
       
       <textarea type="textarea" formControlName="story"class="form-control"  placeholder="write your story"></textarea>
    </div>
       <button type="submit" (click)="onsavestory()" class="btn btn-primary ">save</button>
    </div>
  
</form>

</div>


  <div class="task-wrapper" *ngFor="let item of storess">
    <p>{{ item.story}}</p>
    <div class="actions">
      <button  (click)="Edit(item.id)"   type="submit" class="btn btn-primary"><i class='far fa-edit' style='font-size:48px;color:red'></i></button>
      <button (click)="Delet(item.id)" type="submit" class="btn btn-danger">Delete</button>
      
    </div>
  </div>